*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#ecodeh{
    padding-left: 50%;
}
#para01{
    padding-left: 50%;
}
button{
   padding-left: 10px;
    margin-left: 75%;
    padding-right: 10px;
    background-color: blue;
    color: aliceblue;
}
header{
    background-image: url(./images/wall\ sec\ 01\ pic.webp); width: 100px;
}
.li01{
    margin-left: 25%;
    margin-right: 25%;
}